.speech{
    color: black ;
    font-style: Serif;
    font-size: 20px;
    background-color: #8b1d97;
}


.SHE{
    font-style:italic;
    background-color: #cbffee;
}

.HE{
    font-style:Times;
    background-color: #eee390;

}

